@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400,700");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: url("../Recursos/bg.png"), url("../Recursos/background-empresa.jpg") top center/100% fixed no-repeat, rgba(29, 29, 29, 0.3);
}

/*
 * MI PALETA
*/
/*
 * PALETA PARA MENU MOVIL
*/
/*
 * PALETA PARA MENU ESCRITORIO
*/
/*
 * PANTALLA
*/
/*
 * MARGEN
*/
/*
 * TEXTO
*/
/*
 * DISEÑO MENU MÓVIL
 */
.main-header {
  min-height: 2em;
}

.logo {
  display: none;
}

#toggle-menu {
  padding-left: 1em;
  background: rgba(29, 29, 29, 0.75);
  color: #ffffff;
  cursor: pointer;
  line-height: 2;
}

.menu-container {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(70, 130, 180, 0.75);
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 3;
}

.menu .item {
  border-bottom: 1px solid rgba(29, 29, 29, 0.25);
}

.menu:last-child {
  border-bottom: none;
}

.menu .link {
  padding-left: 1em;
  display: block;
  color: #ffffff;
  text-decoration: none;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.menu .link:hover {
  background: rgba(255, 255, 255, 0.25);
}

.mostrar .link {
  max-height: 2.5em;
}

/*
 * DISEÑO MENU ESCRITORIO
 */
@media screen and (min-width: 720px) {
  .main-header {
    display: flex;
    margin: 0 1em;
    min-height: 4em;
  }
  .main-header .logo {
    display: block;
    position: fixed;
    width: 10em;
    height: 6em;
    background-image: url("../Recursos/Logo.png");
    background-size: 10em 6em;
    z-index: 10;
  }
  .main-header .menu-container #toggle-menu {
    display: none;
  }
  .main-header .menu-container .menu {
    background: rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
  }
  .main-header .menu-container .menu .item {
    border-bottom: 2px solid steelblue;
  }
  .main-header .menu-container .menu .item .link {
    padding: 0 1em;
    min-height: 3em;
    color: #1d1d1d;
    text-shadow: 1px 1px 5px #ffffff;
  }
}

/*
 * MI PALETA
*/
/*
 * PALETA PARA MENU MOVIL
*/
/*
 * PALETA PARA MENU ESCRITORIO
*/
/*
 * DISEÑO SECTION MOVIL
 */
.main-section h1, .porque-section h1, .servicios-section h1 {
  margin: 1.5rem 1.5rem;
  text-align: center;
}

.main-section .mision, .main-section .vision, .main-section .objetivo, .main-section .servicio, .porque-section .mision, .porque-section .vision, .porque-section .objetivo, .porque-section .servicio, .servicios-section .mision, .servicios-section .vision, .servicios-section .objetivo, .servicios-section .servicio {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 5px -1px #1d1d1d;
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem;
}

.main-section .mision h2, .main-section .vision h2, .main-section .objetivo h2, .main-section .servicio h2, .porque-section .mision h2, .porque-section .vision h2, .porque-section .objetivo h2, .porque-section .servicio h2, .servicios-section .mision h2, .servicios-section .vision h2, .servicios-section .objetivo h2, .servicios-section .servicio h2 {
  margin: 1rem auto;
}

/*
 * PANTALLA
*/
/*
 * MARGEN
*/
/*
 * TEXTO
*/
/*
 * MI PALETA
*/
/*
 * PALETA PARA MENU MOVIL
*/
/*
 * PALETA PARA MENU ESCRITORIO
*/
/*
 * DISEÑO SECTION MOVIL
 */
.main-section p {
  text-align: center;
  text-shadow: 2px 2px 10px #ffffff;
  font-size: 1.4em;
}

/*
 * DISEÑO SECTION ESCRITORIO
 */
@media screen and (min-width: 720px) {
  .main-section {
    display: flex;
    padding: 1em;
  }
  .main-section .eslogan {
    flex: 0 0 60%;
    align-self: center;
  }
  .main-section .eslogan .logotipo {
    display: flex;
    margin: auto;
    background-image: url("../Recursos/Logo.png");
    background-size: 15em 10em;
    width: 15em;
    height: 10em;
  }
  .porque-section {
    display: flex;
    flex-wrap: wrap;
  }
  .porque-section h1 {
    flex-basis: 100%;
  }
  .porque-section div {
    flex: 1 1 40%;
    margin: 1em;
  }
  .servicios-section {
    display: flex;
    flex-wrap: wrap;
  }
  .servicios-section h1 {
    flex-basis: 100%;
  }
  .servicios-section div {
    flex: 1 1 20%;
    margin: 1em;
  }
  .porque-section h1, .servicio-section h1 {
    margin: 0;
    padding: 0;
    line-height: 3;
  }
}

/*
 * PANTALLA
*/
/*
 * MARGEN
*/
/*
 * TEXTO
*/
/*
 * DISEÑO MÓVIL
 */
.main-footer {
  background: #1d1d1d;
  padding: 2rem;
  color: #ffffff;
  font-size: .7em;
  /*
	 * DISEÑO ESCRITORIO
	 */
}

.main-footer .copyright {
  margin: 1rem auto;
}

@media screen and (min-width: 720px) {
  .main-footer {
    display: flex;
  }
}
