@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background:
		url("../Recursos/bg.png"),
		rgba(#1d1d1d, .1);
}

@import "menu.scss";
@import "general.scss";
@import "section.scss";
@import "footer.scss";