/*
 * DISEÑO MÓVIL
 */
.main-footer {
	background: #1d1d1d;
	padding: 2rem;
	color: #ffffff;
	font-size: .7em;
	.copyright {
		margin: 1rem auto;
	}

	/*
	 * DISEÑO ESCRITORIO
	 */
	 @media screen and (min-width: 720px) {
	 	display: flex;
	 }
}