@import "dimensiones.scss";
@import "colores.scss";
/*
 * DISEÑO MÓVIL
 */
.main-footer {
	background: #1d1d1d;
	padding: 2rem;
	color: #ffffff;
	font-size: .7em;
	.copyright {
		margin: 1rem auto;
		.icon-github {
			a {
				text-decoration: none;
				color: $blanco;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	/*
	 * DISEÑO ESCRITORIO
	 */
	 @media screen and (min-width: $movil) {
	 	display: flex;
	 }
}