$margen: .8em;
$texto: .5em;
/*
 * DISEÑO SECTION MOVIL
 */
.main-section {
	margin: $margen / 2;
	h1, h2 {

	}
	h2 {
		text-align: center;
	}
	.mision, .vision, .objetivo, .servicio {
		//padding: $margen;
		//margin-bottom: $margen;
		margin: $margen;
		background: #ffffff;
		box-shadow: 1px 1px 5px -3px #1d1d1d;
		border-radius: 2px;
	}
}
 