@import "dimensiones.scss";
@import "colores.scss";
/*
 * DISEÑO SECTION MOVIL
 */
.main-section {
	p {
		text-align: center;
		text-shadow: 2px 2px 10px $blanco;
		font-size: 1.4em;
	}
}

/*
 * DISEÑO SECTION ESCRITORIO
 */
@media screen and (min-width: $movil) {
	.main-section {
		display: flex;
		padding: 1em;
		.eslogan {
			flex: 0 0 60%;
			align-self: center;
			.logotipo {
				display: flex;
				margin: auto;
				background-image: url("../Recursos/Logo.png");
				background-size: 15em 10em;
				width: 15em;
				height: 10em;
			}
		}
	}
	.porque-section {
		display: flex;
		flex-wrap: wrap;
		h1 {
			flex-basis: 100%;
		}
		div {
			flex: 1 1 40%;
			margin: 1em;
		}
	}
	.servicios-section {
		display: flex;
		flex-wrap: wrap;
		h1 {
			flex-basis: 100%
		}
		div {
			flex: 1 1 20%;
			margin: 1em;
		}
	}

	.porque-section, .servicio-section {
		h1 {
			margin: 0;
			padding: 0;
			line-height: 3;
		}
	}
}